@import "tailwindcss";

:root {
  --background: #F8F8F8; /* Soft White for background */
  --foreground: #171717; /* Black for foreground */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif; /* Modern font */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* Black for dark mode background */
    --foreground: #F8F8F8; /* Soft White for dark mode foreground */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Apply Inter font globally */
}

